body{
    padding-left: 33.33%;
    padding-right:33.33%;
    padding-top: 5%;
}
.botao{
    width: 100%;
}

/*.display{
    display: flex-end;
    margin-left: -2.7%;
    margin-right: -2.7%;
}*/
.span2{
    padding-right:0;
    padding-left:0;
    background-color: cadetblue;
    display: flex;
    justify-content: center;
    margin:1px
}
